h1 {
	color: red;
	align-self: center;
}

.App {
	width: 100%;
	min-height: 1000px;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

body,
html {
	height: 100%;
	margin: 0;
}
